aiohttp           
aiosignal         
async-timeout     
attrs             
certifi         
chardet           
charset-normalizer
discord.py        
et-xmlfile        
frozenlist        
idna              
install          
multidict        
openpyxl          
pip               
pytz            
requests        
schedule         
setuptools       
typing-extensions
urllib3           
yarl    